<header>
    <h1>Lavender Lux</h1>
    <nav class="main-nav">
            <div class="nav-item"><a href="/">Home</a></div>
            <div class="nav-item"><a href="{{ url_for('main.about') }}">Contact</a></div>
            <div class="nav-item"><a href="{{ url_for('product.index') }}">Store</a></div>
        <div class="dropdown">
            <button class="dropbtn" id="dropbtn">More <i class="fa-solid fa-arrow-down" id="drop-arrow"></i></button>
            <div class="dropdown-content" id="dropdown-content">
              <a href="{{ url_for('main.discover') }}">Recipes</a>
              <a href="#">Blog</a>
            </div>
          </div>
    </nav>
    <div class="social-links">
      <a href="https://www.instagram.com/lavender_lux_official/" target="_blank"><i class="fa-brands fa-instagram">
      </i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
</header>