{% extends 'base.html' %}
{% block content %}
<div class="container-about">
    <!-- <div class="about-section">
        <h1>About Lavender lux</h1>
        <p>At Lavender lux, we are passionate about creating exceptional experiences with our handcrafted lavender cordial. Our journey began with a commitment to quality, sustainability, and the art of mixology.</p>
        <p>Founded by a team of enthusiasts who share a deep appreciation for the finer things in life, Lavender lux is dedicated to elevating your cocktail experience to new heights.</p>
        <p>Our mission is simple: to craft the perfect cordial that embodies elegance and flavor, making every sip a celebration. We source the finest organic lavender, ensuring that each bottle of Lavender lux cordial is a testament to nature's beauty and craftsmanship.</p>
        <p>Join us on this journey as we blend tradition with innovation, adding a touch of sophistication to your cocktail creations. Lavender lux is not just a brand; it's a celebration of taste, quality, and the art of living well.</p>
    </div>
    
    <div class="team-section">
        <h2>Meet Our Team</h2>
        <p>Our dedicated team of mixologists, artisans, and sustainability advocates is at the heart of Lavender lux. We believe that the best cocktails are created with passion and expertise, and our team embodies that spirit.</p>
        <p>Each member brings a unique set of skills and a shared commitment to excellence. Together, we are proud to introduce you to Lavender lux, where every bottle is a testament to our love for quality and our passion for innovation.</p>
    </div> -->
    <div class="contact">
        <h2 class="center-title">Contact Us</h2>
        <form action="{{url_for('main.contact_messages')}}" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <p>Enter Your Message Below</p>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Send!">
        </form>
    </div>
</div>
{% endblock %}